In [6]:
import json
import cx_Oracle
import os
import pandas as pd

In [2]:
user = 'HLF'
passwd = 'HLF'
url = 'localhost/xe'
pool = cx_Oracle.SessionPool(user, passwd, url)

In [3]:
query = """
select * 
from hlf.bc_valid_tx_write_set 
where block = :b
order by txseq, item"""

In [4]:
block = 53319
cnx = pool.acquire()
cur = cnx.cursor()
res = cur.execute(query, b=block).fetchall()

In [7]:
df = pd.DataFrame(res, columns=['block', 'txseq', 'item', 'key', 'valie', 'isdelete']) 
df.drop('block', axis=1, inplace=True)

In [8]:
new = df["key"].str.split("#", n=1, expand=True)
personaid = new[0].str.split(":", n=1, expand=True)
component = new[1].str.split(":", n=1, expand=True)
df["personaid"] = personaid[1]
df["componentid"] = component[0]
df["componentval"] = component[1]
dfg = df.groupby(['txseq', 'personaid'])

In [11]:
df.head()

,txseq,item,key,valie,isdelete,personaid,componentid,componentval
0,0,0,per:30120078328#per,"{""tipo"":""J"",""id"":30120078328,""tipoid"":""C"",""est...",None,30120078328,per,None
1,0,1,per:30120078328#wit,1,None,30120078328,wit,None
2,1,0,per:30641403268#dom:1.1.1,"{""orden"":1,""org"":1,""tipo"":1,""estado"":2,""calle""...",None,30641403268,dom,1.1.1
3,1,1,per:30641403268#dom:1.2.1,"{""orden"":1,""org"":1,""tipo"":2,""estado"":2,""calle""...",None,30641403268,dom,1.2.1
4,1,2,per:30641403268#per,"{""tipo"":""J"",""id"":30641403268,""tipoid"":""C"",""est...",None,30641403268,per,None

In [19]:
df.at[3,"key"]

'per:30641403268#dom:1.2.1'

In [29]:
bool(None)

False

In [35]:
a = "   "

In [36]:
bool(a)

True