In [21]:
df1 = pd.DataFrame(data = {'col1' : [1, 2, 3, 4, 5], 'col2' : [10, 11, 12, 13, 14], 'col3' : [0, 100, 200, 300, 400]}) 
df2 = pd.DataFrame(data = {'col1' : [1, 2, 3], 'col2' : [10, 11, 12], 'col3' : [1, 101, 102]})

In [39]:
list( df1.col3.unique() )

[0, 100, 200, 300, 400]

In [40]:
len(None)

TypeError: object of type 'NoneType' has no len()

In [13]:
df1[~df1.isin(df2)]

   col1  col2  col3
0   NaN   NaN     0
1   NaN   NaN   100
2   NaN   NaN   200
3   4.0  13.0   300
4   5.0  14.0   400

In [14]:
df1[~df1.index.isin(df1.merge(df2, how='inner', on=['col1', 'col2']).index)]

   col1  col2  col3
3     4    13   300
4     5    14   400

In [19]:
merge_index=df1.merge(df2, how='inner', on=['col1', 'col2']).index
df1[~df1.index.isin(merge_index)]

   col1  col2  col3
3     4    13   300
4     5    14   400